{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!master(layout/_master.tmpl)}}

{{#isNamespace}}
  {{>partials/tsref/namespace}}
{{/isNamespace}}
{{#isClass}}
  {{>partials/tsref/class}}
{{/isClass}}
{{#isEnum}}
  {{>partials/tsref/enum}}
{{/isEnum}}
{{>partials/tsref/customTSEFContent}}
