name: Release solution
on:
  push:
    branches:
      - master
jobs:
  build:
    name: Build solution
    runs-on: windows-latest
    if: "contains(github.event.head_commit.message, 'Release solution')"
    steps:
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.0.2
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Run MSBuild
        run: msbuild -restore -target:build -property:Configuration=Release
      - name: Pack binaries
        run: Compress-Archive ./bin/Release/* ./docfx-plugins-typescriptreference.zip
      - name: Bump version and push tag
        id: create-tag
        uses: mathieudutour/github-tag-action@v4.6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          custom_tag: '1.0.0'
      - name: Create release
        id: create-release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.create-tag.outputs.new_tag }}
          release_name: Release ${{ steps.create-tag.outputs.new_tag }}
          draft: false
          prerelease: false
      - name: Upload binaries
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create-release.outputs.upload_url }}
          asset_path: ./docfx-plugins-typescriptreference.zip
          asset_name: docfx-plugins-typescriptreference.zip
          asset_content_type: application/zip
